<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>Create User</h1>
    <form th:action="@{/createUser}" method="post" >
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="city">City:</label>
        <select id="city" name="city" required>
            <option value="" disabled selected>Select a city</option>
            <option th:each="city : ${cities}"
                    th:value="${city}"
                    th:text="${city}"></option>
        </select>
        <button type="submit">Create User</button>
    </form>
    <p th:text="${message}"></p>
</div>
</body>
</html>